<h1 style="color:DarkTurquoise"> Exploratory Analysis and Preprocessing Work for UCSAS 2024 </h1> 

Here we preprocess the data, and place processed data sets in the "main/processed_data" folder

In [2]:
import pandas as pd 

data_path = "../../../cleandata/data_2022_2023.csv"

comp2022_2023 = pd.read_csv(data_path)

In [4]:
comp2022_2023.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,AAS,Fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,NaN,12.166
1,AAS,Fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,NaN,10.800
2,AAS,Fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,NaN,10.866
3,AAS,Fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,NaN,11.300
4,AAS,Fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,NaN,12.200

In [25]:
import numpy as np
'''
pseudo code for cleaning data

create new column: competitor with all NA values
for row in data frame:
    lowercase the last name and first name data inputs
    create a new entry for competitor - "{}, {}".format(LastName, FirstName)
    check the sequence alignment against the existing competitor values (if there are none, skip this step)
        if the similarity has a score of 2 or less, then consider them to be the same
'''

comp2022_2023["Competitor"] = np.nan

def concat_names(first, last):
    return "{} {}".format(first, last)

# concatenate the names after lowercasing them
comp2022_2023["LastName"] = comp2022_2023["LastName"].str.lower()
comp2022_2023["FirstName"] = comp2022_2023["FirstName"].str.lower()
comp2022_2023["Competitor"] = comp2022_2023.apply(lambda x: concat_names(x["FirstName"], x["LastName"]), axis=1)
comp2022_2023.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Competitor
0,aas,fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,NaN,12.166,fredrik aas
1,aas,fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,NaN,10.800,fredrik aas
2,aas,fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,NaN,10.866,fredrik aas
3,aas,fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,NaN,11.300,fredrik aas
4,aas,fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,NaN,12.200,fredrik aas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24429,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,final,"Tel Aviv, Israel",FX,8.0,4.8,7.050,NaN,11.850,ahmet önder
24430,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",FX,3.0,5.8,7.950,0.1,13.650,ahmet önder
24431,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",HB,10.0,5.0,6.250,NaN,11.250,ahmet önder
24432,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,final,"Tel Aviv, Israel",PB,1.0,6.3,8.050,NaN,14.350,ahmet önder
24433,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",PB,8.0,6.0,7.400,NaN,13.400,ahmet önder

In [53]:
def set_competition_name(date, comp, loc):
    ''' 
    take the date, competition, and location and concatenate together to get an overall 
    competition name value - drop the extra values from the data frame
    '''
    # new_date <tuple> = (month, year)
    new_date = (date.split(" ")[-2], date.split(" ")[-1])
    new_loc = loc.split(",")[-1].strip()

    return "{}-{} {} {}".format(new_date[0], new_date[1], comp, new_loc)
    

comp2022_2023["Format Competition"] = comp2022_2023.apply(lambda x: set_competition_name(x["Date"], x["Competition"], x["Location"]), axis=1)
comp2022_2023.head()
comp2022_2023.drop("competitor", axis=1)

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Competitor,Format Competition
0,aas,fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,NaN,12.166,fredrik aas,Feb-2022 2022 Cottbus World Cup Germany
1,aas,fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,NaN,10.800,fredrik aas,Feb-2022 2022 Cottbus World Cup Germany
2,aas,fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,NaN,10.866,fredrik aas,Feb-2022 2022 Cottbus World Cup Germany
3,aas,fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,NaN,11.300,fredrik aas,Feb-2023 2023 Cottbus World Cup Germany
4,aas,fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,NaN,12.200,fredrik aas,Feb-2023 2023 Cottbus World Cup Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24429,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,final,"Tel Aviv, Israel",FX,8.0,4.8,7.050,NaN,11.850,ahmet önder,Jun-2023 2023 Tel Aviv World Challenge Cup Israel
24430,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",FX,3.0,5.8,7.950,0.1,13.650,ahmet önder,Jun-2023 2023 Tel Aviv World Challenge Cup Israel
24431,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",HB,10.0,5.0,6.250,NaN,11.250,ahmet önder,Jun-2023 2023 Tel Aviv World Challenge Cup Israel
24432,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,final,"Tel Aviv, Israel",PB,1.0,6.3,8.050,NaN,14.350,ahmet önder,Jun-2023 2023 Tel Aviv World Challenge Cup Israel
24433,önder,ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",PB,8.0,6.0,7.400,NaN,13.400,ahmet önder,Jun-2023 2023 Tel Aviv World Challenge Cup Israel

In [57]:
# num competitions
num_comp = comp2022_2023["Format Competition"].unique()
num_comp

array(['Feb-2022 2022 Cottbus World Cup Germany',
       'Feb-2023 2023 Cottbus World Cup Germany',
       'Aug-2023 2023 FISU World University Games China',
       'Nov-2022 2022 51st FIG Artistic Gymnastics World Championships England',
       'Aug-2022 2022 Senior European Championships Germany',
       'Oct-2023 2023 52nd FIG Artistic Gymnastics World Championships Belgium',
       'Apr-2023 2023 Senior European Championships Turkey',
       'Jun-2023 2023 Tel Aviv World Challenge Cup Israel',
       'Mar-2023 2023 Baku World Cup Azerbaijan',
       'Mar-2022 2022 Cairo World Cup Egypt',
       'Sept-2022 2022 Paris World Challenge Cup France',
       'Apr-2023 2023 Cairo World Cup Egypt',
       'Mar-2023 2023 Doha World Cup Qatar',
       'June-2023 2023 10th Senior Artistic Gymnastics Asian Championships Singapore',
       'Mar-2022 2022 British Gymnastics Championships England',
       'June-2022 2022 9th Senior Artistic Gymnastics Asian Championships Qatar',
       'Apr-2022 2022 Baku World Cup Azerbaijan',
       'Mar-2022 2022 Doha World Cup Qatar',
       'May-2023 2023 Varna World Challenge Cup Bulgaria',
       'Aug-2022 BIRMINGHAM 2022 Commonwealth Games England',
       'May-2023 2023 Artistic Gymnastics Senior Pan American Championships Colombia',
       'Sep-2023 HANGZHOU 2022 19th Asian Games China',
       'Mar-2023 2023 British Gymnastics Championships England',
       'June-2022 2022 Osijek World Challenge Cup Croatia',
       'Oct-2023 SANTIAGO 2023 XIX Pan American Games Chile',
       'Jun-2023 2023 Central American and Caribbean Games El Salvador',
       'July-2022 2022 U.S. Classic Utah',
       'Oct-2022 2022 Mersin World Challenge Cup Turkey',
       'Jun-2023 2023 Osijek World Challenge Cup Croatia',
       'Oct-2022 2022 Szombathely World Challenge Cup Hungary',
       'Mar-2022 2022 Varna World Challenge Cup Bulgaria',
       'Aug-2023 2023 Core Hydration Classic Illinois',
       'Aug-2022 2022 U.S. Championships FL',
       'Aug-2023 2023 U.S. Championships CA',
       'Feb-2023 2023 Winter Cup Kentucky',
       'Feb-2022 2022 Winter Cup Texas',
       'Mar-2023 EnBW DTB Pokal Team Challenge 2023 Germany',
       'June-2022 2022 Koper World Challenge Cup Slovenia',
       'May-2023 Oceania Continental Championships 2023 Australia'],
      dtype=object)

In [33]:
dummy = comp2022_2023.iloc[1]
print(dummy["Competition"].split(" "))
print(dummy["Date"].split(" "))
print(dummy["Location"].split(" "))

['2022', 'Cottbus', 'World', 'Cup']
['24-27', 'Feb', '2022']
['Cottbus,', 'Germany']

In [49]:
# see how many different variations of the date item exist within the data set
import random 

counts = dict()
three_list = []
four_list = []
seven_list = []
seen_types = set()
for index, row in comp2022_2023.iterrows():
    x = row["Location"].split(",")
    for i in range(len(x)): x[i] = x[i].strip()
    n = len(x)
    if n not in seen_types:
        print(x)
        seen_types.add(n)
        counts[n] = 1
    else: counts[n] += 1
    # if n == 7: seven_list.append(x)
    # elif n == 3: three_list.append(x)
    # elif n == 4: four_list.append(x)
print(counts)

len(comp2022_2023)

# print(random.choices(three_list, k=5))
# print()
# print(random.choices(seven_list, k=5))
# print()
# print(random.choices(four_list, k=5))

['Cottbus', 'Germany']
['Singapore']
{2: 23833, 1: 601}

24434

In [59]:
comp2022_2023.to_csv("../processed_data/data_2022_2023_1.csv", index=False)

The formatting of the data must also be compatible with that generated by Lucy's work

In [6]:
comp2017_2021 = pd.read_csv("../processed_data/data_2017_2021_1.csv")

comp2017_2021.head()

,competitor,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Null,Null.1
0,Abigail MAGISTRATI,w,MAS,25-Jul-21,Olympic Games,AAqual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566,NaN,#REF!
1,Abigail MAGISTRATI,w,MAS,25-Jul-21,Olympic Games,AAqual,"Tokyo, Japan",FX,64.0,4.6,7.633,NaN,12.233,NaN,#REF!
2,Abigail MAGISTRATI,w,MAS,25-Jul-21,Olympic Games,AAqual,"Tokyo, Japan",UE,74.0,5.1,6.500,NaN,11.600,NaN,#REF!
3,Abigail MAGISTRATI,w,MAS,25-Jul-21,Olympic Games,AAqual,"Tokyo, Japan",VT,72.0,4.6,8.566,NaN,13.166,NaN,#REF!
4,Aiko SUGIHARA,w,ROC,25-Jul-21,Olympic Games,AAqual,"Tokyo, Japan",BB,59.0,5.1,7.166,NaN,12.266,NaN,#REF!

It looks like there are some issues with the work Lucy did to clean up the data - namely the "#REF!" column and the missing headers in the ".csv" file for the data. We can discuss this later tonight at 5pm